<a href="#" data-background-color="red">Paint it red</a>
<a href="#" data-background-color="green" data-text-color="#FFFFFF" >Paint it green</a>
<a href="#" data-background-color="blue" data-text-color="#FFFFFF">Paint it blue</a>
