<form action='send_mail' method = 'post'>
  <label for='mailer_content'>发送到:</label>
  <input type= 'mailer' name='send_to' ,require = true></input>
  <label for='mailer_content'>邮件内容:</label>
  <input id='mailer_content' type='text' name: 'content',require = true></input>
  <button type='commit'>发送</input>
</form>
